/*
PLEASE READ:

The section immediately below is the color palette for the website.

DO NOT USE THESE VARIABLES OUTSIDE OF THIS FILE!!!!!!

Please change these values as needed or add more.
If you do, wire them up with the semantic variable names below and ONLY use these semantic names in other stylesheets.

 */

// Site Colors

$black: #000000;
$turquoise: #069fab;
$beige: #faf5ef;
$red: #dc3439;
$white: #ffffff;
$slate: #666666;
$gray: #333333;

$twitter: #55ACEE;
$facebook: #3B5998;
$tumblr: #37465D;

/*
PLEASE READ:

Below are semantic variables for use in other sass files. Please ONLY use these values when applicable.
 */

$buttonBg: $red;
$buttonTxt: $white;
// $buttonOverBg: $red;
$buttonOverTxt: $slate;

$primaryInformationalBg: $turquoise;
$primaryInformationalTxt: $white;

$primaryFunctionalBg: $beige;
$primaryFunctionalTxt: $slate;

$secondaryInformationalBg: $black;
$secondaryInformationalTxt: $white;


/* fonts */
$fontStack: "Gotham SSm", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$altFontStack: 'Knockout 31 4r',HelveticaNeue-CondensedBold,Helvetica,Arial,sans-serif;


